*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: #FCFDFD;
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: sans-serif;
}

.music-box{
    height: 70vh;
    /* border: red solid; */
    box-shadow: -0.15rem 0.2rem 0.3rem 0.5rem rgba(125, 180, 164, 0.342);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-basis: 20vw;
    color: black;
    padding: 3rem;
}

.part-1{
    /* border: red solid; */
    /* flex-basis: 30vw; */
    height: 4vh;
    display: flex;
    justify-content: space-between;
}

.bar-icon{
    padding:0;
    height: fit-content;
}

.bar-icon .line{
    background-color: rgb(185, 181, 181);   
    /* padding: 0.5rem; */
    font-size: 0.2rem;
    margin:0.2rem;
    border-radius: 1rem;
    color: rgb(185, 181, 181);
    width: 1.5rem;
}

.bar-icon .line-2{
    margin-left: 0.5rem;
}

.part-1 h2{
    font-size: 1rem;
    color: rgb(185, 181, 181);
    align-self: flex-end;
    font-weight: 400;
    text-transform: uppercase;
}

.plus{
    border: solid rgb(185, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    height: 1rem;
    font-size: 2rem;
    color: rgb(185, 181, 181);
    border-radius: 0.2rem;
}

.magic{
    font-size: 1.4rem;
    align-self: center;
    font-weight: 500;
}
.leo{
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    align-self: center;
}

.track{
    margin-top: 2rem;
    align-self: center;
    box-shadow: 0rem 0.05rem 0.3rem 0.5rem rgba(125, 180, 164, 0.342);

}

.play-line{
    margin-top: 3rem;
    font-size: 0.3rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.205);
}

.time{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: rgb(128, 128, 128);
}

.play-icon{

    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:  rgba(128, 128, 128, 0.63);
}

.rev{
    transform: scaleX(-1);
}
.playbtn{
    border: solid gray 0.3rem;
    padding: 0.7rem 0.9rem;
    border-radius: 2.5rem;
    font-size: 2rem;
    color: rgba(128, 128, 128, 0.849);
}

.other-tracks{
    padding-top: 2rem;
    font-weight: 500;

}
.album{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    color: rgba(128, 128, 128, 0.849);
    font-weight: 500;
}

.other-track-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: black;
}


.title{
    /* border: solid red; */
    display: flex;
    align-items: center;
    padding: 0;
    height: 2rem;
    gap: 0.5rem;
}

.dot{
    align-self: top;
    background: green;
    color: green;
    border: solid green;
    border-radius: 1rem;
    font-size: 0.01rem;

    background-color: green;
}
